<div class="home-wrapper">
    <div class="d-flex align-items-stretch justify-content-around flex-wrap">
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Account Balance</h5>
                <a class="btn btn-primary">₹{{dashboardData?.balance ? dashboardData.balance : '...'}}</a>
            </div>
        </div>
        @if(dashboardData?.transaction) {
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">Last Transactions</h5>
                    <p class="card-text">{{dashboardData?.transaction?.description}}</p>
                    <a  class="btn" [class.btn-danger]="negativeTransactions.includes(dashboardData?.transaction?.transaction_type_id || 0)" [class.btn-success]="positiveTransactions.includes(dashboardData?.transaction?.transaction_type_id || 0)">
                        ₹{{dashboardData?.transaction?.amount}}
                    </a>
                </div>
            </div>
        } @else {
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Last Transactions</h5>
                    <p class="card-text">................</p>
                    <a href="#" class="btn btn-primary">.....</a>
                </div>
            </div>
        }
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Transfer Amount</h5>
                <p class="card-text">Transfer amount to beneficiary.</p>
                <a routerLink="/amount-transfer" class="btn btn-info">Fund Transfer</a>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">History</h5>
                <a routerLink="/history" class="btn btn-dark">Check Transaction</a>
            </div>
        </div>
    </div>
</div>
